
<footer>
    <nav>
      <ul>
   <li><a href="/connections">@Adopt a Pet</a></li>
   <li><a href="/about">About</a></li>
   <li><a href="/contact">Contact</a></li>
 </ul>
 <aside>
 <img class="imgfooter" src="../assets/images/facebook.jpg" alt="facebook"/> &nbsp; &nbsp;
 <img class="imgfooter" src="../assets/images/twitter.jpg" alt="twitter"/>
 </aside>
 </nav>
</footer>

