<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
   <title> Milestone </title>
   <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">  
 </head>

 
  <body>
<div id="page-container">
  <div id="content-wrap">
    <%- include('./partials/header.ejs') -%>
  
 
    <main>
     <%- include('./partials/navigation.ejs') -%>
      
      <br>
    
    <div class="maincontent">
    <h1>Oops !! This page does not exist .</h1>
    
    <br>
    
   
  
   <img  src="../assets/images/sadDog.webp"  class ="paws"  alt ="paws" height="100" width="100">
   
    
   
   </div>
    
   </main>
   
  </div>

 
<%- include('./partials/footer.ejs') -%>
</div>
  </body>
  </html>