<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
   <title> Milestone </title>
   <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">  
 </head>
 
  <body>
 
    <div id="page-container">
      <div id="content-wrap">

    <%- include('./partials/header.ejs') -%>
  
 
 <main>

  <%- include('./partials/navigation.ejs') -%>
   
   <br>
 
<h2>About</h2>
<p>Attend the pet therapy sessions at Atkins library starting from 1/24 till 1/31. 
Its a good opportunity for all to mitigate there stress during this exam time. 
Come on and play with the pets.</p>
 


</main>

</div>

<%- include('./partials/footer.ejs') -%>

</div>

  </body>
  </html>