<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
   <title> Milestone </title>
   <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">  
 </head>
 
  <body>
    <div id="page-container">
      <div id="content-wrap">

    <%- include('./partials/header.ejs') -%>
  
 
 <main>

  <%- include('./partials/navigation.ejs') -%>
   
   <br>
<h2>Contact Us</h2>
<p>
The event is hosted by @Atkins Library
Program Manager: Devashish Bhadoria on
Thursday, January 23, 2020 from timings
11.30 - 14.30 <br>
Room No 121, Student Union, UNCC
<br>

Contact Details : +1 9803131694
</p>
 
 
</main>
      </div>

<%- include('./partials/footer.ejs') -%>
    </div>
  </body>
  </html>