<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
   <title> Milestone </title>
   <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">  
 </head>

 
  <body>
<div id="page-container">
  <div id="content-wrap">
    <%- include('./partials/header.ejs') -%>
  
 
    <main>
     <%- include('./partials/navigation.ejs') -%>
      
      <br>
    
    <div class="maincontent">
    <p>Welcome to pet therapy sessions at UNC Charlotte.</p>
    <br>
    <p>Attend the pet therapy sessions at Atkins library starting from 1/24 till 1/31.
      Its a good opportunity for all to mitigate there stress during this exam time.
      Come on and play with the pets.<br>
      <br>
     <b> The goals of a pet therapy program includes:</b>
   <br>
   
   -Improving motor skills and joint movement<br>
   -Improving assisted or independent movement<br>
   -Increasing self-esteem<br>
   -Increasing verbal communication<br>
   -Developing social skills<br>
   -Increasing willingness to join in activities<br>
   -Improving interactions with others<br>
   -Motivating willingness to exercise<br>
   
   <img  src="../assets/images/paws.jpg"  class ="paws"  alt ="paws" height="100" width="100">
   
      <br>
      <br>
      For more information about our sessions go to connection page.
   
    </p>
   
   </div>
    
   </main>
   
  </div>

 
<%- include('./partials/footer.ejs') -%>
</div>
  </body>
  </html>